@model MyBlog.Models.MailResults

@{
    ViewBag.Title = "MailSubmit";
    if (HttpContext.Current.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_adminlayout.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>MailSubmit</h2>

<fieldset>
    <legend>MailResults111111</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NameSender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NameSender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EMailSender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMailSender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TextSender)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextSender)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeSending)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeSending)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Index", new { id=Model.Id_mailRecord }) |
    @Html.ActionLink("11Back to List", "Index")
</p>
