@model MyBlog.Models.MailResults
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@{
    ViewBag.Title = "lifeBlog: Обратная связь";

    if (HttpContext.Current.User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_adminlayout.cshtml";
    }

    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<h2 style="color: white; margin-left: 3%">Страничка связи с автором сайта</h2>




@using (Ajax.BeginForm("MailSubmit",null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "MailResult", OnComplete = "CompleteAjax" }, new { id="myform"}))
{
    
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Если Вам необходимо связаться с автором по каким либо вопросам вы можете воспользоваться данной формой!</legend>

        <div class="editor-label">
            @Html.Label("Ваше имя:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NameSender)
            @Html.ValidationMessageFor(model => model.NameSender)
        </div>

        <div class="editor-label">
            @Html.Label("Ваш электронный адресс: ")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMailSender)
            @Html.ValidationMessageFor(model => model.EMailSender)
        </div>

        <div class="editor-label">
            @Html.Label("Тема сообщения:")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThemeMail)
            @Html.ValidationMessageFor(model => model.ThemeMail)
        </div>


        <div class="editor-label">
            @Html.Label("Текст:")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.TextSender, new { style = "color:#444;" })
            @Html.ValidationMessageFor(model => model.TextSender)
        </div>

        <div id="MailResult" style="color:yellow">
</div>


        <input type="submit" class="btn btn-success" style="display: block; margin-top: 20px; left: 3%; margin-bottom: 10px;" value="Отправить" />
    </fieldset>
}

<div>
    @Html.ActionLink("Венуться на главную страницу", "Index", "Home", null, new { style = "color:white;margin-left:2%" })
</div>

<script>
    function CompleteAjax()
    {
        document.getElementById('myform').reset();
    }
</script>
